<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hi.board.mapper.BoardMapper">

    <insert id="insertBoard" parameterType="com.hi.board.domain.RequestRegBoard">
        insert into tbl_board (title, content, writer) values (#{title}, #{content}, #{writer})
    </insert>

    <select id="selectAll" resultType="com.hi.board.domain.BoardDTO">
        select * from tbl_board
    </select>


</mapper>