<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hi.board.mapper.BoardMapper">

    <select id="selectList" parameterType="com.hi.board.domain.PageOption" resultType="com.hi.board.domain.BoardDTO">

        select bno, title, content, file, uname as writer, memidx, regdate, updatedate
        from tbl_board b, member m

        <where>

            <if test="searchOption.searchType != null and searchOption.keyword != null">

                <!-- 제목 -->
                <if test="searchOption.searchType == 'title'">

                    title like concat('%', #{searchOption.keyword} , '%')

                </if>

                <!-- 내용 -->
                <if test="searchOption.searchType == 'content'">

                    content like concat('%', #{searchOption.keyword} , '%')

                </if>

                <!-- 작성자 -->
                <if test="searchOption.searchType == 'writer'">

                    writer like concat('%', #{searchOption.keyword} , '%')

                </if>

            </if>

            and b.memidx=m.idx

        </where>

        order by bno desc limit #{startNum}, #{count}

    </select>

    <select id="selectTotalCount" parameterType="com.hi.board.domain.BoardSearchOption" resultType="int">

        select count(*) from tbl_board

        <where>

            <if test="searchType != null and keyword != null">
                <if test="searchType == 'title'">
                    title like concat('%', #{keyword},'%')
                </if>

                <if test="searchType == 'content'">
                    content like concat('%', #{keyword},'%')
                </if>

                <if test="searchType == 'writer'">
                    writer like concat('%', #{keyword},'%')
                </if>

            </if>

        </where>

    </select>


    <select id="selectAll"
            resultType="com.hi.board.domain.BoardDTO"
    >
        select * from tbl_board
    </select>

    <select id="selectByBno"
            resultType="com.hi.board.domain.BoardDTO"
    >
        select bno, title, content, file, uname as writer, memidx, regdate, updatedate
        from tbl_board b, member m where bno=#{bno} and b.memidx=m.idx
    </select>


    <insert id="insertBoard"
            parameterType="com.hi.board.domain.RequestRegBoard">

        <!-- file : 파일의 이름을 저장하는 문자열 -->
        <!--writer->memidx 변경-->
        insert into tbl_board (title, content, memidx, file)

        values (#{title}, #{content}, #{memidx}, #{filename})

    </insert>


    <update id="updateBoard"
            parameterType="com.hi.board.domain.RequestModifyBoard">

        update tbl_board

        set title=#{title},
        content=#{content},
        file=#{filename},
        updatedate=now()

        where bno=#{bno}

    </update>

    <delete id="deleteBoard">
        delete from tbl_board where bno=#{no}
    </delete>

</mapper>