<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hi.app.mapper.MemberMapper">

    <insert id="memberReg">
        insert into empmember (uid, pw, uname) values (#{uid}, #{pw}, #{uname})
    </insert>

    <select id="login" resultType="com.hi.app.domain.member.MemberDTO">
        select idx, uid, uname from empmember where uid=#{param1} and pw=#{param2}
    </select>

</mapper>